{% extends "users/layout.html" %}
{% load static  %}
{% load crispy_forms_field %}
{% block extra_head_lib %}
    <link href="{% static 'plugins/sweetalert/sweetalert.css'%}" rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="{% static 'plugins/multi-select/css/multi-select.css'%}" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css'%}" rel="stylesheet" />
{% endblock %}
{% block body %}
  <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>New Course Form</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form method="POST" >
                               {% csrf_token %}
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.name %}
                                        <label class="form-label">{{ form.name.label }}</label>
                                        {% comment %}<input type="text" class="form-control" name="name" required="" aria-required="true">
                                        <label class="form-label">Name</label>{% endcomment %}
                                    </div>
                                    {% if form.name.errors %}
                                        {% for error in form.name.errors %}
                                            <div class="error">
                                             {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                     <label class="form-label"><h3>{{ form.description.label }}</h3></label>

                                    <div class="form-line">
                                       {% crispy_field form.description 'id' 'ckeditor' %}
                                    </div>
                                    {% if form.description.errors %}
                                        {% for error in form.description.errors %}
                                            <div class="error">
                                             {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.duration %}
                                        <label class="form-label">{{ form.duration.label }}</label>
                                    </div>
                                    {% if form.duration.errors %}
                                        {% for error in form.duration.errors %}
                                            <div class="error">
                                             {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                     <label class="form-label">Status</label>
                                    <div>
                                        {% crispy_field form.status 'class' 'btn-group bootstrap-select form-control show-tick' %}

                                    </div>
                                    {% if form.status.errors %}
                                        {% for error in form.status.errors %}
                                            <div class="error">
                                             {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                     <label class="form-label">User</label>
                                    <div>
                                        {% crispy_field form.user 'class' 'btn-group bootstrap-select form-control show-tick' %}

                                    </div>
                                    {% if form.user.errors %}
                                        {% for error in form.user.errors %}
                                            <div class="error">
                                             {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="checkbox" name="checkbox">
                                    <label for="checkbox">I have read and accept the terms</label>
                                </div>
                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
{% block extra_body_lib %}
    <script src="{% static 'plugins/jquery-validation/jquery.validate.js'%}"></script>
    <script src="{% static 'plugins/jquery-steps/jquery.steps.js'%}"></script>
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js'%}"></script>
     <!-- Select Plugin Js -->
    <script src="{%  static 'plugins/bootstrap-select/js/bootstrap-select.js'%}"></script>
    <script src="{% static 'js/pages/forms/form-validation.js'%}"></script>
    <!-- Ckeditor -->
    <script src="{% static 'plugins/ckeditor/ckeditor.js'%}"></script>
    <script src="{% static 'js/pages/forms/editors.js'%}"></script>
{% endblock %}